<template name="inputDiv">
    <div class="container">
        <form name="forma">
        <div class="input-group input-group-lg ">
            <input id="noteText" type="text" class="form-control" placeholder="Enter the note details">
                 <span class="input-group-btn">
                    <button id='btn' class="btn btn-default" type="button">Submit</button>
                </span>
        </div>
        <div class="input-group input-group-sm">
            <input id="noteTag" type="text" data-role="tagsinput"
                   class="form-control bootstrap-tagsinput-max" placeholder="Type for tags separated by comma"/>
        </div>

        </form>
    </div>

</template>