<template name="viewNotes">
    <div class="container" style="margin-top: 15px">
       {{>tagCloud}}

        <div class="row">
            {{#each notes}}
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <p class="lnk pull-right">
                            <a href="#" class="btn-link btn-xs" role="button">Edit</a>
                            <a href="#" class="btn-link btn-xs btn-danger del" role="button">Delete</a>
                        </p>

                        <p class="text-left">
                            {{#each tags}}
                            <span class="small">
                            <a href="#" class="btn-link btn-xs tgs" role="button"> {{this}} </a>
                            </span>
                            {{/each}}
                        </p>

                    </div>
                    <p class="txt text-center text-success"> {{text}}</p>
                </div>
            </div>
            {{else }}
            <div class="col-lg-12 col-md-12"><h2> No Notes available... </h2></div>
            {{/each}}
        </div>
    </div>
</template>

<template name="tagCloud">
    <div class="alert alert-success">
        {{#if selectedTag}}
          {{selectedTag}}
        {{else}}
           Reset Tag Selected <a href="#" class="all" >all </a> tags
        {{/if}}
    </div>
</template>
