<template name="viewNotes">
    <div class="container" style="margin-top: 15px">
        {{> tagAlert}}

        <div class="row">
            {{#each notes}}
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail note-bg thumbs shadow" style="color: #DEDEDE">
                    <div class="thumb-top">
                        {{#if_eq ownerId }}
                        <p class="lnk pull-right">
                            <!--<a href="#" class="btn-link btn-xs" role="button">Edit</a>-->
                            <a href="#" class="btn-link btn-danger btn-xs del" role="button">Delete</a>
                        </p>
                        {{/if_eq}}

                        <p class="text-left">
                            {{#each tags}}
                            <span class="small"><button href="#" class="btn btn-default btn-xs tgs" role="button">
                                <span class="glyphicon glyphicon-tag" style="font-size:0.75em"></span>
                                {{this}}
                            </button>
                            </span>
                            {{/each}}
                        </p>
                    </div>
                    <p class="text-center note-date">{{localTime}}</p>
                    <p class="txt note-text"> {{text}}</p>

                </div>
            </div>
            {{else }}
            <div class="container-fluid">
            <div class="col-lg-12 col-md-12"><h2 class="well well-sm signIn"> No Notes to show </h2></div>
                </div>
          {{/each}}
        </div>
    </div>
</template>

<template name="tagAlert">


    {{#if selectedTag}}
    <div class="well well-sm tgAlert">
        <div class="row">
            <div class="col-sm-12 col-md-12">
            <span class="pull-right">
                <span class="glyphicon glyphicon-hand-right"></span><a href="#" class="all"> All Notes </a>
            </span>
            <span class="pull-left">
                Showing Notes tagged with <span class="badge"> {{selectedTag}} </span>
            </span>
</div>
            </div>

    </div>
    {{/if}}


</template>
